@use 'hero';
@use './components/infos_bar';
@use './components/buttons';
@use './components/event';
@use '../styles/variables';

* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif; // Corrigido para usar a fonte Roboto
    //Removendo os bullets
    list-style: none;
    color: variables.$textColor;
}

.container { 
    max-width: 960px;
    width: 100%;
    margin: 0 auto;

    @media (max-width: 640px) { 
        max-width: 80%;
    }

    @media (max-width: 1024px) { 
        max-width: 90%;
    }
}
